<strong>Olá ,{{studentName}}, seja bem vindo!</strong>
<p> Confira os detalhes da sua matrícula abaixo:</p>
<p>
  <strong>Aluno: </strong>{{studentName}}<br />
  <strong>Plano: </strong>{{planTxt}}<br />
  <strong>Valor Total: </strong>{{price}}<br />
  <strong>Data de término: </strong>{{endDate}}<br />

</p>
